.btn-circle-green {
  display: inline-block;
  background-color: green;
  color: aliceblue;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 0;
  margin: 0;
  top: auto;
  bottom: auto;
}

.btn-square-powderblue {
  background-color: rgba(176, 224, 230, 0.4);
  border-radius: 5px;
  transition: backgound-color 250ms;
}

.btn-square-powderblue:hover {
  background-color: powderblue;
  cursor: pointer;
}

.form-input-btn {
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;
}

.form-input-btn .btn-circle-green {
  width: 23px;
  height: 23px;
}

.btn-circle-green:hover {
  cursor: pointer;
}
