/* Arrows */
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transition: all 250ms ease-in-out;
}

.arrow--aliceblue {
  border: solid aliceblue;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transition: all 250ms ease-in-out;
}

.arrow__direction--right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow__direction--left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow__direction--up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow__direction--down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.--rotate-down:hover {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Buttons */

.dropdown__button {
  min-width: fit-content;
  min-height: fit-content;
  padding: 0.5rem;
  border: 0;
  opacity: 0.85;
  transition: all 250ms;
}

.dropdown__button:hover {
  opacity: 1;
}
