.modal,
.section-modal,
.form-modal,
.form-modal > * {
  padding: 5px;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 450px;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  top: 20%;
  background-color: antiquewhite;
  border: 1px solid black;
  border-radius: 15px;
}

.modal .section-modal,
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-modal {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: antiquewhite;
  border-radius: 5px;
}

.form-modal {
  flex-direction: column;
}

body {
  position: relative;
}

.button-close {
  cursor: pointer;
  border: none;
  font-weight: 600;
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  border-radius: 50%;
}

.button-close:hover {
  background-color: aliceblue;
  color: black;
}

.modal__bg {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #544e45;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  justify-content: center;
  text-align: center;
}

.modal__content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal__button-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal__button-close:hover,
.modal__button-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
