@import "./html.css";

.navbar {
  display: flex;
  justify-content: center;
  flex: 1;
  height: fit-content;
}

.navbar__nav--horizontal {
  display: flex;
  align-items: center;
}

.navbar__logo--ms {
  min-width: 25px;
}

.navbar__ul--horizontal {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.navbar__li {
  list-style-type: none;
  padding: 5px;
}

.navbar__form--horizontal {
  display: inline-block;
}

.form__div--flex {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
}

.form__search-img--small {
  height: 20px;
  transition: transform 250ms ease-in-out;
}

.form__search-img--small:hover {
  transform: scale(1.25);
}

.form__input--horizontal {
  text-align: center;
}

.form__input--horizontal:hover {
  border: 1px solid red;
  cursor: pointer;
}
