@import url("./html.css");

table {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

table th,
table td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
  border: 1px solid grey;
}

thead tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f2f2f2f2;
}

tbody {
  background-color: aliceblue;
}

tr:nth-child(even) {
  background: #ccc;
}
tr:nth-child(odd) {
  background: #fff;
}
